@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'Press Start 2P', cursive;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-family: 'Press Start 2P', sans-serif;
  color: #333;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pokemon-app {
  background: url("/assets/nature-1631908788369-135.jpg") no-repeat center fixed;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.pk-logo {
  height: 120px;
  background: url("/assets/logo.png") no-repeat center;
  background-size: contain;
  margin-bottom: 30px;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  > .pk-item {
    margin-bottom: 20px;
  }
}
